data/
# Exclude large files and common large file types
*.csv
*.npy
*.npz
*.pth
*.h5
*.zip
*.tar
*.tar.gz
*.7z
*.rar
*.exe
*.dll
*.iso
*.mp4
*.mov
*.avi
*.mkv
*.wav
*.flac
*.ogg
*.log
*.tmp

src/__pycache__/
*.pyc

streamlit_app/components/__pycache__/
*.pyc

streamlit_app/utils/__pycache__/
*.pyc